* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.the-product {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: 'Courier New';
}

body {
    background-color: #f5ebe0;
    font-family: 'Lato', sans-serif;
}

#header-img {
    width: 60px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

section {
    margin: 130px 20px;
    text-align: center;
}

section::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(78, 69, 68);
}

#submit {
    background-color: coral;
    color: #ffffff;
    cursor: pointer;
}

h2 {
    font-family: 'Courier New';
    margin-bottom: 10px;
}

.icon {
    color: rgb(249, 170, 51);
    margin-right: 30px;
}

#Features {
    text-align: left;
    max-width: 600px;
    margin: auto;
}

.Features {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    font-family: 'Times New Roman';
}

#video {
    width: 100%;
}

#Pricing {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.level {
    background-color: #eb8810;
    color: black;
    width: 100%;
    padding: 15px 0;
    font-weight: 700;
}

.btn {
    background-color: darkorange;
    margin: 15px 0;
    font-weight: 400;
    border: 0;
    border-radius: 2px;
    width: 30%;
    height: 30px;
}

@media (max-width: 800px) {
    #Pricing {
        flex-direction: column;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}